:root {
  --ifm-color-primary: #6921ce;
  --ifm-color-primary-dark: #5f1eb9;
  --ifm-color-primary-darker: #591caf;
  --ifm-color-primary-darkest: #4a1790;
  --ifm-color-primary-light: #742add;
  --ifm-color-primary-lighter: #7b34df;
  --ifm-color-primary-lightest: #8f53e3;
}

[data-theme='dark'] {
  --ifm-color-primary: #d5b1ff;
  --ifm-color-primary-dark: #be86ff;
  --ifm-color-primary-darker: #b270ff;
  --ifm-color-primary-darkest: #8f2fff;
  --ifm-color-primary-light: #ecdcff;
  --ifm-color-primary-lighter: #f8f2ff;
  --ifm-color-primary-lightest: #ffffff;
}
